body {
  margin: 0;
  background-color: black;
}

footer {
  position: fixed;
  bottom: 0;
  color: white;
}

canvas {
  position: fixed;
  z-index: -1;
}

#info-box,
button {
  background-color: black;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  padding: 8px;
}

button {
  position: fixed;
  padding: 8px 10px;
  font-size: 16px;
  transition-duration: 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: whitesmoke;
  color: black;
}

#set-a-course-button {
  top: 30%;
  margin: 5% auto;
  left: 0;
  right: 0;
  opacity: 100%;
}

#cancel-button {
  bottom: 40%;
  margin: 5% auto;
  left: 0;
  right: 0;
  opacity: 0%;
  visibility: hidden;
}

#cancel-button.setting-course {
  opacity: 100%;
  visibility: visible;
}

#set-a-course-button.setting-course {
  opacity: 0%;
  visibility: hidden;
}

#info-box {
  width: 200px;
  height: 100px;
  position: fixed;
  bottom: 30%;
  margin: 5% auto;
  left: 0;
  right: 0;
  transition-duration: 0.8s;
}

#info-box.setting-course {
  width: 300px;
  height: 200px;
  bottom: 50%;
}
